<script lang="ts">
	import { Canvas } from '@threlte/core';
	import Scene from './Scene.svelte';
	let playing: boolean;
</script>

<Canvas>
	<Scene bind:playing />
</Canvas>

<label style="position: absolute; top: 0; right: 50%">
	Play
	<input type="checkbox" bind:checked={playing} />
</label>
