<script context="module">
	let distance_factor = tweened(1);
</script>

<script lang="ts">
	import { T } from '@threlte/core';
	import { tweened } from 'svelte/motion';

	export let idx = 0;
    // export let Sync;
	// export let distance_factor;
	// Control from parent to vary tween animation delay

	const boxColor = '#a0695A';

	let color = boxColor;
</script>

<!-- <T.Group position.x={-2.5}> -->
	<!-- <T.Mesh position.y={0.5} position.x={idx * $distance_factor}> -->
		<!-- <Sync position /> -->
		<T.BoxGeometry />
		<T.MeshStandardMaterial {color} />
	<!-- </T.Mesh> -->
<!-- </T.Group> -->
