<script lang="ts">
	import { T } from '@threlte/core';
	import { ContactShadows, Grid, Instance, OrbitControls } from '@threlte/extras';
	import Box from './Box.svelte';
	import { interactivity } from '@threlte/extras';
	import { Sequence, Sheet, SheetObject, Theatre, type SequenceController } from '@threlte/theatre';
	import { InstancedMesh } from '@threlte/extras';

	interactivity();
	let sequence: SequenceController;
	export let playing: boolean;
</script>

<T.PerspectiveCamera makeDefault position={[1, 10, 20]} fov={22}>
	<OrbitControls enableDamping autoRotateSpeed={0.5} target.y={1.5} autoRotate />
</T.PerspectiveCamera>

<T.DirectionalLight intensity={0.8} position.x={5} position.y={10} />
<T.AmbientLight intensity={0.2} />

<Grid
	position.y={-0.001}
	cellColor="#ffffff"
	sectionColor="#ffffff"
	sectionThickness={0}
	fadeDistance={25}
	cellSize={2}
/>

<ContactShadows scale={10} blur={2} far={2.5} opacity={0.5} />

<!-- <Float -->
<!--   floatIntensity={1} -->
<!--   floatingRange={[0, 1]} -->
<!-- > -->
<Theatre>
	<Sheet name="cubes">
		<Sequence bind:sequence bind:playing autopause range={[0, 4.5]} />
		<InstancedMesh position.x={-2.5}>
			<Box />
			{#each Array(5) as _, idx}
				<SheetObject key="Cube{idx}" let:Transform let:Sync>
					<Transform >
						<Sync position />
                        <Instance position.y={0.5} color={idx} />
					</Transform>
				</SheetObject>
			{/each}
		</InstancedMesh>
	</Sheet>
</Theatre>

<!-- </Float> -->

<!-- <Float -->
<!--   floatIntensity={1} -->
<!--   floatingRange={[0, 1]} -->
<!-- > -->
<!--   <T.Mesh -->
<!--     position={[1.2, 1.5, 0.75]} -->
<!--     rotation.x={5} -->
<!--     rotation.y={71} -->
<!--   > -->
<!--     <T.TorusKnotGeometry args={[0.5, 0.15, 100, 12, 2, 3]} /> -->
<!--     <T.MeshStandardMaterial color="#F85122" /> -->
<!--   </T.Mesh> -->
<!-- </Float> -->

<!-- <Float -->
<!--   floatIntensity={1} -->
<!--   floatingRange={[0, 1]} -->
<!-- > -->
<!--   <T.Mesh -->
<!--     position={[-1.4, 1.5, 0.75]} -->
<!--     rotation={[-5, 128, 10]} -->
<!--   > -->
<!--     <T.IcosahedronGeometry /> -->
<!--     <T.MeshStandardMaterial color="#F8EBCE" /> -->
<!--   </T.Mesh> -->
<!-- </Float> -->
